<a href="https://colab.research.google.com/github/tvpian/Programming_Hub/blob/python/Python%20Learning%20Series/Python_Learning_Series_Chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Control Flow

Control the flow of execution of code

eg: - If it's hot, I'll turn on the fan

Note: the conditions are regeistered by intendation over

```
if some_condition:
  # execute some code
else:
  # do something else
```

```
if some_condition:
  # execute some code
elif:
  # do something different
else:
  # do something else
```

### IF, Elif and Else Statements

In [ ]:
if True:
  print("It's true")

It's true

In [ ]:
if 3 > 2:
  print("It's true")

It's true

In [ ]:
a = 5
b = 2
if a > b:
  print("a is greater than b")
else:
  print("a is not greater than b")

a is greater than b

In [ ]:
user_choice = 1

if user_choice == 1:
  print("Connect to service team")
elif user_choice == 2:
  print("Connect to order details")
elif user_choice == 3:
  print("Repeat the message")
else:
  print("Invalid choice. End the call")

Connect to service team

## Loops

### For iterating through 'iterable' items

### FOR Loop

In [ ]:
my_iterable = [1, 2, 3, 4, 5]
for item in my_iterable:
  print(item)

1
2
3
4
5

In [ ]:
mylist = [1, 2, 3, 4]
for numb in mylist:
  print(numb)

1
2
3
4

In [ ]:
mylist = [1, 2, 3, 4]
for anything in mylist:
  print(numb)

4
4
4
4

In [ ]:
mylist = [1, 2, 3, 4]
for num in mylist:
  if num % 2 == 0:
    # print(f"{num} is even")
    print("{number} is even".format(number = num))
  else:
    # print(f"{num} is odd")
    print("{number} is {types}".format(number = num, types = "odd"))

1 is odd
2 is even
3 is odd
4 is even

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list_sum = 0

for num in mylist:
  list_sum = list_sum + num
print(list_sum)

55

In [ ]:
mystring = "Hello World"

for char in mystring:
  print(char)

H
e
l
l
o

W
o
r
l
d

In [ ]:
mystring = "Hello World"
for _ in mystring:
  print("Checking")

Checking
Checking
Checking
Checking
Checking
Checking
Checking
Checking
Checking
Checking
Checking

In [ ]:
test_tuple = (1, 2, 3)

for item in test_tuple:
  print(item)

1
2
3

In [ ]:
list_tuple = [(1, 2), (3, 4), (5, 6)]

for item in list_tuple:
  print(item)

(1, 2)
(3, 4)
(5, 6)

In [ ]:
for (a,b) in list_tuple:
  print(a)
  print(b)

1
2
3
4
5
6

In [ ]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
  print(item)

k1
k2
k3

In [ ]:
for key, value in d.items():
  print(key)
  print(value)

k1
1
k2
2
k3
3

In [ ]:
d.items(), d.keys(), d.values()

(dict_items([('k1', 1), ('k2', 2), ('k3', 3)]),
 dict_keys(['k1', 'k2', 'k3']),
 dict_values([1, 2, 3]))

### While Loop

eg:- while the tank is not full, fill water




```
while some_boolean_condition:
  #do_something
else:
  # do_something_different
```

In [ ]:
x = 0
while x < 5:
  print(f'The current value of x is {x}')
  x = x + 1 # Try commenting this line // Infinite Loop
else:
  print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

Important keywords - Break, Continue, Pass

In [ ]:
for num in range(10):
  if num == 3:
    continue
  print(num)

0
1
2
4
5
6
7
8
9

In [ ]:
for num in range(10):
  if num == 3:
    break
  print(num)

0
1
2

In [ ]:
for num in range(10):
  # pass

SyntaxError: incomplete input (<ipython-input-25-d5e5a57fafd0>, line 2)

### Useful Operators

In [ ]:
mylist = [1, 2, 3]

In [ ]:
for num in range(0, 11, 2):
  print(num)

0
2
4
6
8
10

In [ ]:
test = [1, 2 ,3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
test[0::2]

[1, 3, 5, 7, 9]

In [ ]:
index_count = 0
for letter in 'abcde':
  print('At index {} the letter is {}'.format(index_count, letter))
  index_count += 1


word = "abcdef"
for index, letter in enumerate(word):
  print(index, letter)

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
0 a
1 b
2 c
3 d
4 e
5 f

In [ ]:
mylist1 =[1, 2, 3, 4, 5, 6, 7, 8]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
  print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [ ]:
'x' in [1, 2, 3]

False

In [ ]:
'x' in ['x', 'y', 'z']

True

In [ ]:
mylist = {1:4, 2:5, 3:6}
1 in mylist

True

In [ ]:
1 in mylist.values()

False

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
min(mylist), max(mylist)

(1, 10)

In [ ]:
from random import shuffle

mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
shuffle(mylist)
mylist

[2, 7, 3, 6, 4, 5, 1, 10, 9, 8]

In [ ]:
from random import randint
randint(0, 100)

82

In [ ]:
mynum = input( "Enter a number here: ")
mynum

Enter a number here: 3

'3'

In [ ]:
mystring = "Hello"
mystring[0]
appended_string = []
[appended_string.append(i) for i in mystring]
appended_string

['H', 'e', 'l', 'l', 'o']

In [ ]:
my_list = [num**2 for num in range(0,10,1) if num % 2 == 0]
my_list

[0, 4, 16, 36, 64]

In [ ]:
celsius = [0, 10, 20, 34.6]
fahrenheit = [((9/5)*temp + 32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.0, 94.28]

In [ ]:
odd_even_checker = [x if x%2 == 0 else "odd" for x in range(0,10)]
odd_even_checker

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [ ]:
st = 'Print only the words that start with s in this sentence'

words = [s_word for s_word in st.split() if s_word.startswith('s')]
words

['start', 's', 'sentence']

In [ ]:
div_by_50 = [num for num in range(1,50,1) if num%3 == 0]
div_by_50

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
fizzbuzz = ["fizzbuzz" if num%15 == 0 else "fizz" if num%3 == 0 else "buzz" if num%5 == 0 else num for num in range(1,50,1)]
fizzbuzz

[1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizzbuzz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizzbuzz',
 31,
 32,
 'fizz',
 34,
 'buzz',
 'fizz',
 37,
 38,
 'fizz',
 'buzz',
 41,
 'fizz',
 43,
 44,
 'fizzbuzz',
 46,
 47,
 'fizz',
 49]

In [ ]:
st = 'Print only the words that start with s in this sentence'
first_letter = [word[0] for word in st.split()]
first_letter

['P', 'o', 't', 'w', 't', 's', 'w', 's', 'i', 't', 's']