<a href="https://colab.research.google.com/github/tvpian/Programming_Hub/blob/python/Python%20Learning%20Series/Python_Learning_Series_Chapter_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Methods and Functions

### Methods

Ref: https://docs.python.org/3.12/tutorial/index.html

In [1]:
mylist = [1,2,3]

In [2]:
mylist.pop()

3

In [ ]:
mylist.insert

### Functions



```
def name_of_function(argument):
  """
  Docstring explains function.
  """
  print("Hello")
```

In [1]:
def intro_you():
  print("Hello")

In [2]:
intro_you()

Hello

In [5]:
def intro_with_name(name):
  print("Hello " + name)
  print(f"Hello {name}")

In [6]:
intro_with_name("John")

Hello John
Hello John

In [7]:
def intro_with_name(name = "World"):
  print("Hello " + name)
  print(f"Hello {name}")

In [8]:
intro_with_name()

Hello World
Hello World

In [9]:
def show_sum(num1, num2):
  print(num1 + num2)

In [10]:
show_sum(4,5)

9

In [11]:
def return_sum(num1, num2):
  return num1 + num2

In [12]:
sum = return_sum(4,5)

In [13]:
show_sum('10', '20')

1020

In [14]:
def check_even_odd(num):
  if num % 2 == 0:
    print("Even")
  else:
    print("Odd")

In [15]:
check_even_odd(2)

Even

In [3]:
def check_even_list(num_list):
  for num in num_list:
    if num % 2 == 0:
      return True
    else:
      pass
  return False

my_list = [1,3,5,2]

In [4]:
check_even_list(my_list)

True

In [5]:
stock_prices = [('APPL', 200), ('GOOG', 400), ('MSFT', 100)]

APPL
200
GOOG
400
MSFT
100

In [7]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

current_max = 0
selected_employee = ""

for emp, hours in work_hours:
  if hours > current_max:
    current_max = hours
    selected_employee = emp

print(selected_employee)

Cassie